body{
    padding-top: 56px;
}
.jumbotron{
    background: url()no-repeat center center;
    background-size: cover;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 5rem 1rem;
}
.jumbotron-overlay{
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 0.25rem;
}